@{
    Page.Title = "Suit v6";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        The Mark VI (Mark 6) is an All-Purpose Suit, and was the sixth suit built and created by Tony Stark after he found the solution to the Palladium core's poisoning, which was the newly improved Arc Reactor, in the movie Iron Man 2.
    </p>
}
@section Link{
    <a href="Mark3.cshtml">Mark III</a>
}